@font-face {
    font-family: UmiSansHeavy;
    src: url("uni_sans_heavy.otf") format("opentype");
}

@font-face {
    font-family: UmiSansThin;
    src: url("uni_sans_thin.otf") format("opentype");
}